.form_row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  flex: 1;
}

.description_preview {
  word-break: break-word;
  padding: 0 10px;
  list-style: none;
  height: 378px;
  overflow: auto;
}

.description_preview p {
  margin-bottom: 0;
}

.form_description_preview {
  height: unset;
  max-height: 150px;
}

.description_preview_heading {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 0;
}

@media (max-width: 820px) {
  .form_row {
    flex: unset;
  }

  .description_preview {
    height: unset;
    max-height: 250px;
  }
}
