.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  padding: 12px;
  background-color: var(--toolbar-bg-color);
  margin-bottom: 1rem;
}

.toolbar.no_buttons {
  justify-content: end;
}

.buttons_wrapper li:first-child button {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.buttons_wrapper {
  display: flex;
  gap: 0.5rem;
}

.buttons_wrapper .insert_btn {
  background-color: var(--but-bg-color);
  border-color: var(--but-border-color);
}

.buttons_wrapper .insert_btn:hover {
  background-color: var(--but-bghover-color);
  border-color: var(--but-borderho-color);
}

.filter_select {
  width: 160px;
  font-size: 15px;
}

@media (max-width: 820px) {
  .toolbar {
    padding: 5px;
  }
}

@media (max-width: 767px) {
  .filter_wrapper li select {
    padding: 5px;
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .toolbar {
    align-items: flex-end;
    flex-direction: column;
    gap: 1rem;
  }

  .buttons_wrapper {
    text-align: left;
    width: 100%;
    gap: 0.8rem;
    order: 2;
  }

  .filter_select {
    order: 1;
  }
}
