.content_wrapper {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100%;
  background-color: var(--nav-bg-color);
}

.close_btn {
  text-align: right;
  border-bottom: 1px solid;
  border-color: var(--border-color);
}

.close_btn svg {
  font-size: 35px;
  transition: rotate 2s ease-in-out;
  cursor: pointer;
}

.close_btn svg:hover {
  rotate: 720deg;
}

.logo_wrapper {
  display: flex;
  height: 75px;
  width: 100%;
}

.logo_wrapper svg {
  height: 30px;
  width: 30px;
}

.home_link {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  transition: 0.3s ease-in-out;
  padding: 1rem;
}

.home_link:hover {
  scale: 1.03;
  background-color: white;
  color: black;
}

.home_link span {
  font-weight: 700;
  letter-spacing: 0.5px;
}

.nav_wrapper li {
  padding: 1rem;
  transition: 0.3s ease-in-out;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 15px;
}

.nav_wrapper li:hover {
  color: var(--text-hover-color);
  background-color: white;
}

.not_allowed {
  cursor: pointer;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.message svg {
  color: red;
  font-size: 60px;
}

.message p {
  font-weight: 500;
  color: red;
  line-height: 21px;
  letter-spacing: 0.5px;
  text-align: center;
}

@media (max-width: 1024px) {
  .nav_side_bar_wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 480px) {
  .content_wrapper {
    width: 100%;
  }
}
