.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.25rem;
  width: 100%;
}

.form_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form_wrapper h2 {
  font-size: 21px;
  letter-spacing: 1px;
  text-align: center;
}

.form_row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.form_row input:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
}

.form_row input {
  min-height: 38px;
  background-color: var(--input-bg-color);
  border-color: var(--input-border-color);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  padding: 0 10px;
  outline: none;
}

.form_row input:hover {
  border-color: #b3b3b3;
}

.form_row input:focus {
  border-color: #2684ff;
  box-shadow: 0 0 0 1px #2684ff;
}

.form_row label {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.form_row .required {
  color: red;
  margin-left: 3px;
  cursor: help;
}

.field_error {
  color: red;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-bottom: 0;
}

.close_btn {
  text-align: right;
  margin-bottom: -10px;
}

.close_btn svg {
  font-size: 35px;
  transition: rotate 2s ease-in-out;
  cursor: pointer;
}

.close_btn svg:hover {
  rotate: 720deg;
}

.main .submit_btn {
  margin-top: 0.5rem;
  background-color: var(--but-bg-color);
  border-color: var(--but-border-color);
}

.main .submit_btn:hover {
  background-color: var(--but-bghover-color);
  border-color: var(--but-borderho-color);
}

.message {
  text-align: center;
  font-weight: 500;
  margin-bottom: 0;
}

.error {
  color: red;
}

.success {
  color: green;
}
