@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --nav-bg-color: #f0ecec;
  --input-bg-color: #fff;
  --input-border-color: #ccc;
  --toolbar-bg-color: #f8f5f5;
  --modal-bg-color: #fff;
  --but-bg-color: #1c475a;
  --but-border-color: #1c475a;
  --but-bghover-color: #13aff0;
  --but-borderho-color: #13aff0;
  --tab-bg-color: #fff;
}

:root[data-bs-theme="dark"] {
  --bg-color: #121212;
  --nav-bg-color: #000;
  --text-color: #f8f9fa;
  --text-hover-color: #000;
  --input-bg-color: #2c2c2c;
  --input-border-color: #555;
  --toolbar-bg-color: #2c2c2c;
  --modal-bg-color: #2c2c2c;
  --tab-bg-color: #2c2c2c;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-width: 370px;
  margin: 0;
}

body * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin-bottom: 0;
  font-family: "Roboto";
}

body dl,
body ol,
body ul {
  margin-bottom: 0;
  padding-left: 0;
}

ul {
  list-style: none;
}

body a {
  color: inherit;
  text-decoration: none;
}
