.main {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 2rem auto;
  padding: 0 2rem;
  flex: 1;
  position: relative;
}

.main h1 {
  font-size: 24px;
  margin-bottom: 1rem;
}

@media (max-width: 767px) {
  .main {
    padding: 0 1rem;
  }
}
