.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  min-height: 100vh;
  position: relative;
}

.back_btn_wrapper {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.back_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  background-color: #1c475a;
  border-color: #1c475a;
}

.back_btn svg {
  font-size: 21px;
}

.back_btn:hover {
  background-color: #13aff0;
  border-color: #13aff0;
}
