.header_wrapper {
  display: flex;
  padding: 2rem;
  border-bottom: 1px solid #e7e5e5;
  position: relative;
}

.search_wrapper {
  width: 100%;
}

.user_con {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.search_wrapper input {
  min-height: 38px;
  background-color: var(--input-bg-color);
  border-color: var(--input-border-color);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  padding: 0 10px;
  font-size: 16px;
  outline: none;
}

.search_wrapper input:hover {
  border-color: #b3b3b3;
}

.search_wrapper input:focus {
  border-color: #2684ff;
  box-shadow: 0 0 0 1px #2684ff;
}

.login_btn,
.user_menu_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  background-color: var(--but-bg-color);
  border-color: var(--but-border-color);
}

.login_btn:hover,
.user_menu_btn:hover {
  background-color: var(--but-bghover-color);
  border-color: var(--but-borderho-color);
}
