.main {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 2rem auto;
  padding: 0 2rem;
  flex: 1;
  position: relative;
}

.main h1 {
  margin-bottom: 1rem;
}

.main h2 {
  font-size: 24px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.dark :global(.react-tabs__tab-list) {
  border-bottom: 1px solid #444;
}

.dark :global(.react-tabs__tab--selected) {
  color: white;
  background: var(--tab-bg-color);
  border-color: #555;
}

.main :global(.react-tabs__tab:focus:after) {
  display: none;
}

.main :global(.react-tabs__tab) {
  font-weight: 500;
}

.bttn_wrapper {
  text-align: right;
}

.bttn_wrapper .salesforce_btn {
  background-color: var(--but-bg-color);
  border-color: var(--but-border-color);
  margin-bottom: 1rem;
  width: 200px;
}

.bttn_wrapper .salesforce_btn:hover {
  background-color: var(--but-bghover-color);
  border-color: var(--but-borderho-color);
}

@media (max-width: 820px) {
  .main {
    padding: 0 1rem;
  }
}
