.main {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 2rem auto;
  gap: 2rem;
}

.settings_wrapper,
.description_preview_wrapper {
  width: 100%;
  height: 460px;
}

.settings_wrapper,
.description_preview_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form_row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  flex: 1;
}

.form_row input:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
}

.form_row .title_input {
  min-height: 38px;
  background-color: var(--input-bg-color);
  border-color: var(--input-border-color);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  padding: 0 10px;
  outline: none;
}

.form_row .title_input:hover {
  border-color: #b3b3b3;
}

.form_row .title_input:focus {
  border-color: #2684ff;
  box-shadow: 0 0 0 1px #2684ff;
}

.form_row label {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.form_row .required {
  color: red;
  margin-left: 3px;
  cursor: help;
}

.form_wrapper button {
  margin-top: 1rem;
}

.add_btn {
  background-color: #1c475a !important;
  border-color: #1c475a !important;
}

.add_btn:hover {
  background-color: #13aff0 !important;
  border-color: #13aff0 !important;
}

.success {
  text-align: center;
  color: green;
  font-size: 19px;
  margin-top: 0.5rem;
}

.success svg {
  font-size: 27px;
  margin-left: 10px;
}

.field_error {
  color: red;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-bottom: 0;
}

@media (max-width: 820px) {
  .main {
    flex-direction: column;
  }

  .form_row {
    flex: unset;
  }

  .description_preview_wrapper {
    height: unset;
  }
}
