.page_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  width: 100%;
  margin: 2rem auto;
  padding: 0 2rem;
}

@media (max-width: 767px) {
  .page_wrapper {
    padding: 0 1rem;
  }
}
