.main {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 2rem auto;
  padding: 0 2rem;
  flex: 1;
  position: relative;
}

.main h1 {
  margin-bottom: 1rem;
}

.items_table h2 {
  font-size: 24px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.inventories_table {
  width: 100%;
  table-layout: fixed;
  min-width: 800px;
}

.dark :global(.react-tabs__tab-list) {
  border-bottom: 1px solid #444;
}

.dark :global(.react-tabs__tab--selected) {
  color: white;
  background: var(--tab-bg-color);
  border-color: #555;
}

.main :global(.react-tabs__tab:focus:after) {
  display: none;
}

.main :global(.react-tabs__tab) {
  font-weight: 500;
}

.description_wrapper {
  margin-bottom: 1.25rem;
}

@media (max-width: 820px) {
  .main {
    padding: 0 1rem;
  }
}
