.form_row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.form_row label {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.form_row .description_input:hover {
  border-color: #b3b3b3;
}

.form_row .description_input:focus {
  border-color: #2684ff;
  box-shadow: 0 0 0 1px #2684ff;
}

.form_row .description_input {
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  background-color: var(--input-bg-color);
  border-color: var(--input-border-color);
  padding: 10px;
  resize: none;
  outline: none;
  transition: all 0.1s;
  height: 250px;
}

.form_row .form_description_input {
  height: 150px;
}
